@import-normalize;
@import 'variables';

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $secondary;
  background: $fourthly;
  background: radial-gradient(circle, $fourthly 0%, $thirdly 100%);
}

a {
  text-decoration: none;
  color: $secondary;
}

.enable-js-notification {
  color: #FFF;
  text-align: center;
}
